<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a href="" class="panel-block">Trend 1 </a>
    <a href="" class="panel-block">Trend 1 </a>
    <a href="" class="panel-block">Trend 1 </a>
    <a href="" class="panel-block">Trend 1 </a>
    <a href="" class="panel-block">Trend 1 </a>
    <a href="" class="panel-block">Trend 1 </a>
    <a href="" class="panel-block">Trend 1 </a>
  </nav>
</div>