

<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <h1 class="title">View Tweeet</h1>
        <p><strong>Author: </strong><em><%= @tweeet.user.username%></em> </p><br/>
        <p>
          <strong>Tweeet:</strong>
          <%= @tweeet.tweeet %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
      <%= link_to 'Back', tweeets_path, class: "button is-info" %>
      </div>
    </div>
  </div>
</div>
